Repository archonitelabs/radiant-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy

.pre-commit-config.yaml:

---
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: c4a0b883114b00d8d76b479c820ce7950211c99b  # v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: 9a9bbc00895bbdb7670231c2565d4f1309c42905  # v1.3.5
    hooks:
      - id: clang-format
        args: [-i]
  - repo: https://github.com/psf/black
    rev: ec91a2be3c44d88e1a3960a4937ad6ed3b63464e  # 23.12.1
    hooks:
      - id: black
  - repo: https://github.com/adrienverge/yamllint
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6  # v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint
        language: system
        types: [python]
        require_serial: true
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: rad
        args: [lint, --clang-tidy]
        language: python
        files: \.(c|cc|cpp|cxx|h|hh|hpp|hxx|)$
        require_serial: true

cleans up include ordering
  .clang-format
  test/test_Atomic.cpp
  test/test_EmptyOptimizedPair.cpp
  test/test_Integer.cpp
  test/test_Iterator.cpp
  test/test_Locks.cpp
  test/test_Result.cpp
  test/test_ScopeExit.cpp
  test/test_SharedPtr.cpp
  test/test_Span.cpp
  test/test_StdTypeTraits.cpp
  test/test_TypeWrapper.cpp
  test/test_UniqueResource.cpp
  test/test_Utility.cpp
  test/test_Vector.cpp
Due: clang-tidy

suppress incorrect GCC maybe unused warning
  MODULE.bazel.lock
  radiant/Result.h
  test/test_Result.cpp
Due: clang-tidy

enable address sanitizer
  .bazelrc
  default_copts.bzl
  test/BUILD.bazel
Due: none

fix vector memory leaks
  radiant/detail/VectorOperations.h
Due: clang-tidy

fix type wrapper maybe uninitialized
  radiant/TypeTraits.h
  radiant/TypeWrapper.h
  test/test_Result.cpp
  test/test_TypeWrapper.cpp
Due: clang-tidy

testing upstream patch for setup-bazel
  .github/workflows/unit-tests.yaml
Due: none

investigate another fix
  .github/workflows/unit-tests.yaml
Due: none

update setup-bazel
  .github/workflows/build.yaml
  .github/workflows/code-coverage.yaml
  .github/workflows/unit-tests.yaml
Due: none

try bazelisk
  .github/workflows/unit-tests.yaml
Due: none

checkpoint
  .github/workflows/unit-tests.yaml
Due: none

simplify bazel command
  .github/workflows/unit-tests.yaml
Due: none

minor vector test cleanup
  test/test_Vector.cpp
Due: clang-tidy

initial debug visualizers
  BUILD.bazel
  MODULE.bazel.lock
  default_copts.bzl
  radiant/Rad.natvis
Due: none

more natvis
  radiant/Rad.natvis
Due: none

specify bazelisk instead of bazel
  .github/workflows/unit-tests.yaml
Due: none

test upstream workflow fix
  .github/workflows/unit-tests.yaml
Due: none

hack in full path
  .github/workflows/unit-tests.yaml
Due: none

list dir
  .github/workflows/unit-tests.yaml
Due: none

exclude external binary deps from bazel query
  .gitignore
  tools/rad/rad/bazel.py
Due: pylint

Make ReverseIterator more like std::reverse_iterator
  radiant/Iterator.h
  radiant/Span.h
  test/test_Iterator.cpp
Due: clang-tidy

Removing unneeded diagnostic squelch
  radiant/Span.h
Due: clang-tidy

Add rad test --release
  tools/rad/rad/cli.py
Due: pylint

cleanup vector decorations
  radiant/Vector.h
Due: clang-tidy

result clang-tidy fix
  radiant/Result.h
Due: clang-tidy

fix result assertions
  radiant/Result.h
  radiant/TypeWrapper.h
Due: clang-tidy

cleanup rad assert macros
  radiant/TotallyRad.h
Due: clang-tidy

vector rename RemoveBack to TakeBack
  radiant/Vector.h
  test/test_Vector.cpp
Due: clang-tidy

Fixed names
  radiant/List.h
  test/test_List.cpp
Due: clang-tidy

Saving scratch work
  radiant/List.h
  test/test_List.cpp
Due: clang-tidy

remove front, back. Assert on empty deref
  radiant/List.h
Due: clang-tidy

Move around no_unique_address
  radiant/List.h
  radiant/TotallyRad.h
  test/test_List.cpp
Due: clang-tidy

Back to compressed pair
  radiant/List.h
  radiant/TotallyRad.h
  test/test_List.cpp
Due: clang-tidy

old work now working in new environment
  radiant/List.h
  test/test_List.cpp
Due: clang-tidy

erase methods
  radiant/List.h
  test/test_List.cpp
Due: clang-tidy
